!!!
head
  meta(charset='utf8')
  title Get all of your tags from Sprint.ly

  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css")

body
  .container
    .row
      .span8.offset2
        .hero
          h1 #tags&nbsp;
            small from&nbsp;
              a(href="http://sprint.ly") Sprint.ly

        block content

        hr
        footer.pagination-centered ♥&nbsp;
          a(href="https://twitter.com/maxbeatty") @maxbeatty
          |&nbsp;&middot;&nbsp;
          a(href="https://github.com/maxbeatty/sprintly-tags") View source on GitHub
